.image {
	height: 30rem;
	background-size: 100% 100%;
	background-image: url(/src/images/banner.png);
	background-repeat: no-repeat;
}

.unit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.title {
	margin: 0;
	font-size: 3.5rem;
}

.text {
	text-align: center;
	opacity: 80%;
}

.btn {
	padding: 0.8rem 3rem;
	margin: 1.5rem;
	border: none;
	background: var(--main-color);
	color: white;
	font-size: 1rem;
}