.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 25rem;
	background-color: rgba(115, 115, 222, 0.3);
}

.title {
	margin-top: 0;
	color: var(--main-color-dark);
	font-weight: 500;
	font-size: 3rem;
	font-family: 'KCC-Ganpan';
	flex-shrink: 1;
}

.text {
	margin: 1.7rem 0;
	font-size: 1.1rem;
	text-align: center;
	opacity: 80%;
}

.btn {
	padding: 0.8rem 3rem;
	margin-top: 1rem;
	border: none;
	border-radius: 2rem;
	background-color: var(--main-color-dark);
	color: white;
	font-size: 1rem;
	text-decoration: none;
}

.btn:hover {
	background-color: var(--main-color);
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3% 11%;
}

.teams {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
}

.gotoBox {
	display: flex;
	align-items: center;
	width: fit-content;
	cursor: pointer;
}

.subTitle {
	font-size: 1.5rem;
	flex-shrink: 1;
}

.arrow {
	padding-top: 0.2rem;
	margin-left: 1rem;
}

.moreTeams {
	display: flex;
	align-items: center;
	height: 100%;
	margin: auto 0;
	font-weight: 500;
	text-decoration: none;
	flex-shrink: 0;
}

.moreTeams span {
	padding-bottom: 0.2rem;
}

.moreTeams:visited {
	color: black;
}

.moreTeams:hover {
	color: var(--main-color);
	font-weight: 700;
}


.teamList {
	display: grid;
	margin: 0;
	place-items: center;
	gap: 16px;
	grid-template-columns: repeat(3, minmax(100px, 320px));
	grid-auto-rows: minmax(100px, auto);
}

.myTeams {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	margin-top: 4rem;
}

.myTeamList {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 500px) {
	.teamList {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (min-width: 750px) {
	.teamList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1200px) {
	.teamList {
		grid-template-columns: repeat(3, 1fr);
	}
}