.container {
	width: 100%;
	padding: 1rem 0 0 1rem;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding: 0 1rem;
}

.title {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.listBtn {
	padding: 0.3rem 1.2rem;
	border: 1px solid var(--main-color);
	background-color: white;
	color: var(--main-color);
	font-weight: bold;
	font-size: 0.9rem;
}

.listBtn:hover {
	background-color: rgba(115, 115, 222, 0.2);
}

.write {
	display: flex;
	flex-direction: column;
	padding: 2% 3%;
}

.subTitle {
	margin-bottom: 0.6rem;
	font-weight: bold;
}

.input {
	padding: 0.6rem 1rem;
	margin-bottom: 1.5rem;
	border: 1px solid var(--gray500);
	font-size: 0.9rem;
}

.textArea {
	height: 10rem;
	resize: none;
}

.btnArea {
	display: flex;
	justify-content: center;
}

.space {
	margin: 0.5rem;
}