.container {
	width: auto;
	height: 100%;
	min-height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text {
	font-weight: 500;
	margin-bottom: 2rem;
}