@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./font/PretendardVariable.ttf');
}

@font-face {
  font-family: 'KCC-Ganpan';
  src: url('./font/KCC-Ganpan.ttf');
  font-weight: normal;
  font-style: normal;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Pretendard-Regular';
}

p {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

:root {
  --main-color: #7373DE;
  --main-color-dark: #52529E;
  --main-color-pink: #E679AD;
  --gray100: #F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray800: #424242;
  --category-dev: #0045CB;
  --category-hobby: #008B27;
  --category-sports: #E72D21;
  --category-game: #DC37A4;
}