.container {
  display: flex;
	flex-direction: column;
	align-items: center;
  width: 50%;
  min-width: 500px;
  height: 100%;
  padding: 3rem;
}
.title {
  margin-bottom: 2rem;
  color: var(--main-color);
  font-weight: bold;
	font-size: 2.5rem;
	text-decoration: none;
	flex-shrink: 0;
}

.already{
  margin-bottom: 1rem;
}
.form{
  display: flex;
	flex-direction: column;
	align-items: center;
  width: 70%;
  max-width: 500px;
  height: auto;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgba( 0, 175, 185, 0.08 );
}
label{
  margin-right: auto;
  margin-bottom: 1rem;
}
.inputBox{
  width: 93%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  outline: none;
}
.root{
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  width: 100vw;
  height: 100vh;
}

.agreeBox{
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.joinButton{
  width: 93%;
  padding: 0.6rem 1.2rem;
	border: 1px solid var(--main-color);
	border-radius: 0.5rem;
	background-color: var(--main-color);
	color: white;
  font-weight: 550;
	font-size: 1.1rem;
	text-align: center;
}

.joinButton:hover{
  background-color: rgba(0, 108, 140, 1.2);
}

.checkBox{
  display: none;
}

.checkBox + label::before{
  display: inline-block;
  width: 17px;
  height: 17px;
  border:2px solid #0081A7;
  border-radius: 50%;
  content:"";
  opacity: 0.66;
  vertical-align:middle;
}

.checkBox:checked + label::before{
  background-color:#0081A7;
  content:"";
  border-color:#0081A7;
  background-repeat: no-repeat;
  background-position: 50%;
}

.message{
  margin-right: auto;
  color: red;
  font-size: 0.5rem;
}