.teamLi {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.4rem;
  border-bottom: 1px solid lightgray;
}

.item {
  font-size: 0.9rem;
  flex-basis: 50px;
}

.item:nth-child(1) {
  text-align: center;
  flex-grow: 0.5;
}

.item:nth-child(2) {
  margin-left: 2rem;
  cursor: pointer;
  flex-grow: 7;
  flex-shrink: 0;
}

.item:nth-child(2):hover {
  text-decoration: underline;
}

.item:nth-child(3) {
  text-align: center;
  flex-grow: 1;
}

.item:nth-child(4) {
  text-align: center;
  flex-grow: 1;
}


.cancel {
  font-size: 0.9rem;
  flex-basis: 50px;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  color: var(--main-color-pink);
}

.cancel:hover {
  font-weight: bold;
  text-decoration: underline;
}