.header {
	display: flex;
	align-items: center;
	height: 4.5rem;
	padding: 0 7.5rem;
}

.logo {
	color: var(--main-color);
	font-size: 0.9rem;
	text-decoration: none;
	flex-shrink: 0;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 15rem;
	margin: 0 4rem;
	flex-shrink: 0;
}

.item {
	width: 3.6rem;
	color: var(--gray800);
	font-weight: 700;
	font-size: 0.9rem;
	text-decoration: none;
	text-align: center;
}

.btn {
	margin-left: auto;
	flex-shrink: 0;
}

.join{
	padding: 0.4rem 1.2rem;
	margin: 0.5rem;
	border: 1px solid var(--main-color);
	border-radius: 0.3rem;
	background-color: white;
	color: var(--main-color);
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
}

.join:hover{
	background-color: rgba(0, 129, 167, 0.2);
}

.login{
	padding: 0.4rem 1.2rem;
	margin: 0.5rem;
	border: 1px solid var(--main-color);
	border-radius: 0.3rem;
	background-color: var(--main-color);
	color: white;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
}

.login:hover {
	background-color: rgba(0, 108, 140, 1.2);
}