.container {
  padding: 2.2rem 3rem;
}

.index {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray300);
}

.header {
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: #E9E9E9;
  border-top: 1px solid var(--gray500);
}

.item {
  text-align: center;
  flex-basis: 50px;
}

.header div:nth-child(1) {
  flex-grow: 0.5;
}

.header div:nth-child(2) {
  flex-grow: 7;
}

.header div:nth-child(3) {
  flex-grow: 1;
}

.header div:nth-child(4) {
  flex-grow: 1;
}

.header div:nth-child(5) {
  flex-grow: 1;
}

.ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.content {
  padding-top: 1rem;
  padding-left: 1rem;
}