.header{
  display: flex;
	align-items: center;
  height: 2rem;
  margin-top: 1rem;
  background: #E9E9E9;
  border-top: 1px solid;
  justify-content: center;
}


.ul{
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.content{
  padding-left: 1rem;
  padding-top: 1rem;
}