.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 500px;
  padding: 5rem;
}

.title {
  margin: 0rem 0rem 2rem;
  color: var(--main-color);
  font-weight: bold;
  font-weight: 400;
  font-size: 3rem;
  font-family: 'KCC-Ganpan';
  text-decoration: none;
  cursor: pointer;
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: auto;
  padding: 2.5rem 3.5rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  background-color: rgba(115, 115, 222, 0.08);
}

.label {
  margin-bottom: 1rem;
}

.inputBox {
  align-self: center;
  width: 27rem;
  padding: 1rem;
  margin-bottom: 1.8rem;
  border: none;
  border-radius: 8px;
  outline: none;
}

.inputBox:nth-child(4) {
  margin-bottom: 0.7rem;
}

.pwCheckBox {
  display: flex;
  font-size: 0.8rem;
  color: var(--gray600);
  align-self: self-start;
  margin-bottom: 1.5rem;
}

.checkBox {
  accent-color: var(--main-color)
}

.loginButton {
  width: 100%;
  padding: 0.6rem 1.2rem;
  margin-top: 2rem;
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  background-color: var(--main-color);
  color: white;
  font-weight: 550;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
}

.loginButton:hover {
  background-color: var(--main-color-dark);
}

.joinBtn {
  color: var(--main-color);
  font-weight: 600;
  text-decoration: none;
}

.joinBtn:hover {
  text-decoration: underline;
}