.postLi{
  display: flex;

  align-items: center;
  height: 2rem;
  border-bottom: 1px solid lightgray;
}

.postLi:hover{
  background: #E9E9E9;
  cursor: pointer;
}

.item {
  flex-basis: 50px;
  font-size: 0.9rem;
}

.postLi .item:nth-child(1){
  flex-grow: 0.5;
  text-align: center;
}
.postLi .item:nth-child(2){
  flex-grow: 7;
  flex-shrink: 0;

}
.postLi .item:nth-child(3){
  flex-grow: 1;
  text-align: center;
}
.postLi .item:nth-child(4){
  flex-grow: 1;
  text-align: center;
}
.postLi .item:nth-child(5){
  flex-grow: 1;
  text-align: center;
}