.header {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	align-items: end;
	padding: 0 1rem 0.5rem;
	white-space: nowrap;
	border-bottom: 1px solid var(--gray500);
	margin-bottom: 1rem;
	min-width: 730px;
}


.name {
	font-size: 1.8rem;
	margin-right: 1rem;
}

.Dday {
	font-size: 1.5rem;
	color: var(--main-color-pink);
}