.root {
	width: 100%;
	padding: 0.5rem 1rem 0 1.5rem;
}

.titleBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 2rem;
	padding: 0.2rem 1.5rem;
	background: var(--gray200);
	font-weight: bold;
	border-top: 1px solid;
	border-bottom: 1px solid var(--gray500);
	white-space: nowrap;
}

.infoBox {
	display: flex;
	padding: 0.2rem 1.7rem;
	font-size: 0.8rem;
	border-bottom: 1px solid var(--gray500);
	white-space: nowrap;
}

.date {
	margin-left: auto;
}

.post {
	padding: 2rem;
}

.content {
	margin-bottom: 2rem;
}

.commentHeader {
	display: flex;
	align-items: center;
	height: 2rem;
	padding: 0.2rem;
	padding-left: 1.5rem;
	margin-top: 1rem;
	background: var(--gray200);
	font-size: 0.9rem;
	border-bottom: 1px solid var(--gray500);
	border-top: 1px solid var(--gray500);
}

.commentsLength {
	margin-left: 0.4rem;
	color: var(--main-color-pink);
}

.newComment {
	display: flex;
	align-items: center;
	height: 3rem;
	padding: 1rem;
	background-color: rgba(115, 115, 222, 0.1);
}

.form {
	width: 100%;
}

.commentInput {
	width: 90%;
	height: 3rem;
}

.submitBtn {
	padding: 1rem;
	margin-left: 1rem;
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
	color: white;
	font-weight: bold;
	flex-shrink: 0;
}

.submitBtn:hover {
	background-color: var(--main-color-dark);
}

.commentUl {
	list-style: none;
	padding: 0;
}