.root {
	width: auto;
	min-width: 30rem;
	padding: 3.7rem 4.3rem;
	margin: 3.7rem 10rem 11rem;
	border: 1px solid var(--gray800);
	border-radius: 20px;
}

.top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 2rem;
}

.category {
	font-weight: bold;
	font-size: 1.2rem;
}

.title {
	margin-bottom: 1.3rem;
	font-weight: bold;
	font-size: 1.8rem;
}

.nickname {
	color: var(--gray800);
	font-weight: bold;
}

.times {
	display: flex;
	justify-content: space-around;
	color: var(--gray500);
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}

.date {
	margin-bottom: 0.3rem;
	font-size: 1.2rem;
	flex-shrink: 0;
}

.count {
	margin-bottom: 1rem;
	color: var(--main-color-red);
	font-weight: bold;
	font-size: 1.5rem;
}

.apply {
	padding: 0.8rem 1.4rem;
	border: 2px solid var(--main-color);
	border-radius: 40px;
	color: var(--main-color);
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
	cursor: pointer;
}

.apply:hover {
	background-color: var(--main-color);
	color: white;

}

.contents {
	margin: 1.3rem 0.5rem 3rem 0.5rem;
	white-space: pre-line;
}

.tag {
	margin: 0.5rem;
}


.dev {
	color: var(--category-dev);
}

.hobby {
	color: var(--category-hobby);
}

.sports {
	color: var(--category-sports);
}

.game {
	color: var(--category-game);
}