.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 32rem;
  height: 25rem;
  z-index: 999;
  border-radius: 1rem;
  background-color: white;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
}

.header {
  display: flex;
  padding: 1rem 1.5rem;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #bcbcbc;
}

.closeBtn {
  margin-left: auto;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem 2rem;
}

.textArea {
  height: 10rem;
  resize: none;
  padding: 1rem;
}


.saveBtn {
  padding: 0.4rem 1rem;
  margin-left: auto;
  border: 1px solid var(--main-color);
  border-radius: 0.3rem;
  background-color: var(--main-color);
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 1rem;
}

.saveBtn:hover {
  background-color: var(--main-color-dark);
}