.btn {
	width: 5.5rem;
	height: 2.8rem;
	border: 1px solid var(--main-color);
	border-radius: 0.3rem;
	color: var(--main-color);
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
}

.white {
	background-color: white;
	color: var(--main-color);
}

.fill {
	background-color: var(--main-color);
	color: white;
}

.btn:hover {
	background-color: rgba(0, 129, 167, 0.2);
}

.fill:hover {
	background-color: rgba(0, 108, 140, 1.2);
}