.root {
  height: 73vh;
  padding: 5rem;
}

.sidebar {
  float: left;
  width: 20%;
  max-width: 200px;
  padding: 1.5rem 1rem;
  border: 1px solid;
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.list {
  margin: 1rem 0;
}

.item {
  cursor: pointer;
}

.item:hover {
  color: var(--main-color);
  font-weight: 600;
}

.content {
  float: left;
  width: 60%;
  min-width: 800px;
  margin-left: 10%;
}