.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 11%;
}

.sidebar {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 10rem;
  height: 16rem;
  margin: 2rem 0;
  border-style: solid;
  border-width: 0;
  border-color: var(--gray300);
  color: var(--gray600);
}

.ul {
  list-style: disc;
  padding: 0 1rem;
  margin: 0;
}

.list {
  margin: 1.4rem 0;
  cursor: pointer;
}

.list:hover {
  color: var(--main-color);
}

.cur {
  color: var(--main-color);
  font-weight: bold;
}

.divider {
  margin: 0 1rem;
  width: 1px;
  background-color: var(--gray300);
  border: 0;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  border-left: 1px solid var(--gray500);
}